<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MLSQLite"
       connectionString="Data Source=&quot;C:\Documents and Settings\francisco\Mis documentos\SQL Lite\MLRiVuC.s3db&quot;"
       providerName="System.Data.SQLite"/>
    <!-- For SQLite -->
  </connectionStrings>
</configuration>