<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MLSQLite" connectionString="Data Source=&quot;C:\Archivos de programa\RiVuC\MLRiVuCApp\MLRiVuC.s3db&quot;" providerName="System.Data.SQLite"/>
    <!--<add name="MLSQLite" connectionString="Data Source=&quot;C:\Documents and Settings\francisco\Mis documentos\SQL Lite\MLRiVuC.s3db&quot;" providerName="System.Data.SQLite"/>-->
    <!-- For SQLite -->
  </connectionStrings>
  <appSettings>
    <add key="NewTransCalif" value="Sin Calificacion"/>
    <add key="NewTransEstatus" value="En proceso"/>
    <add key="NewTransOperacion" value="--Seleccione--"/>
    <add key="NewTransMensajeria" value="Estafeta"/>
    <add key="CheckCalificacion" value="Sin Calificacion"/>
    <add key="BeginStatus" value="En proceso"/>
    <add key="EndStatus" value="Finalizado"/>
    <add key="InitialSelFrmBusq" value="Nombre"/>
    <add key="InitialSelFrmBusqTran" value="Seudonimo"/>
    <add key="Seleccione" value="--Seleccione--"/>
    <add key="DefaultRemite" value="RiVuC"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
